/*l'input suivant le + reçoit le css*/

body{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    margin: 0 70px;
    /* text-align: center; */
}

*{
    box-sizing: border-box;
}

hr{
    width: 99%;
    /* border: 2.5px solid; */
}
.title2{
    display: flex;
    align-content: space-around;
    margin-bottom: -37px;  
}

h1{
    text-align: center;
    font-size: 45px;
    color: red;
    margin-bottom: 30px;
    font-family: 'Bitter', serif;
    letter-spacing: 1.2px;
}

h2{
    margin: auto 210px;
    font-family: 'Bad Script', cursive;
    font-size: 23px;
}

h3{
    font-family: 'Bad Script', cursive;  
    margin: auto 0 auto 28px; 
    font-size: 18px;
}


h4{
    font-size: 25px;
    color: red;
    margin-left: 22px;
    font-family: 'Bitter', serif;
}

h5{
    font-family: 'Bitter', serif;  
    margin: center;
    font-size: 20px;
    font-weight: lighter; 
}

img{
    position: relative;
    top: 7px;
    left: 6px;
}


.imgplay{
    position: relative;
    top: 28px;
}

.imgDeconnexion{
    position: relative;
    left: 60px;
    top: 35px;
}


#global{
    display:flex;
    align-content: space-between; 
}

section{
width: 11%;
}

#sectionA{
    border: 1px solid rgb(189, 188, 188);
    margin: 10px;
    height: 375px;
    width: 787px;
    /* overflow: hidden;
    overflow-y: scroll; */
    box-shadow: 10px 10px 10px #ccc;
  
}

#sectionB{
    border: 1px solid rgb(189, 188, 188);
    height: 410px;
    width: 550px;
    margin:13px  auto;
    overflow: hidden;
    overflow-y: scroll;
    box-shadow: 10px 10px 10px #ccc;
}


.formList{
    font-family: 'Bitter', serif;
    width: 450px;
    height: 30px;
    text-align: center;
    border: 1.2px solid black;
    margin-left: 5px;
}

.formList2{
    font-family: 'Bitter', serif;
    width: 350px;
    height: 30px;
    text-align: left;
    border: none;
    margin-left: 5px;
}


.formAdd{
    font-family: 'Bitter', serif;
    width: 500px;
    height: 38px;
    margin: auto;
    margin-left: 10px;
    text-align: center;
    border: 1.7px solid black;
}

.imgpoubelle{
    position: relative;
    left: 495px;
    bottom: 30px;
}

.imgplay2{
    position: relative;
    top: 12.5px;
    
}

.division{
    display:flex;
    align-content: space-around;
    justify-content: space-around;
    align-items:center;
}

.b{
    width: 13%;
}

.imgPlay{
    margin: 3px;
}

.part{
    display:flex;
    align-content: space-around;
}

.InterA{
    width:40%;
    border-right: .2px solid  rgb(189, 188, 188);
    margin-right: 0.2px;
}

.InterB{
    width:40%;
    border-left: .2px solid  rgb(189, 188, 188);
    margin-left: 0.2px;
}


.sectionI{
    width:1000Px;
    height: 400px;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 75px;
}

.inputCI{
    font-family: 'Bitter', serif;
    width: 350px;
    height: 30px;
    text-align: center;
    border: 1.35px solid  rgb(189, 188, 188);
    margin-bottom: 1px; 
}